
<div class="row">
    <div class="col-9">
        <h1> Welcome to Grouped </h1>
        <p>The Web App that help you to find the best groups for your projects</p>
        <%= image_tag "20943566-min.jpg", class: "my-image"%>
    </div>
    <div class="col">
    </div>
</div>
