@import 'bootstrap/dist/css/bootstrap';

.navbar-brand {
    font-size: 2rem !important;
    font-weight: normal;
}

.my-image{
    width: 300px;
}

.my-button{
    background-color: rgba(82,109,255,1);
    color: white;
}

.my-button:hover{
    background-color: rgb(55, 78, 211);
    color: white;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: rgba(82,109,255,1) !important;
}

.my-title-log{
    margin-bottom: 10px;
}

.page-cont{
    margin-top: 50px;
}

.mess-cont{
    margin-top: 10px;
}

//Tables
table{
    border-collapse: collapse;
    vertical-align: middle;
}

thead{
    background-color: rgba(82,109,255,1);
    color: white;
}

// Footer
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer{
    margin-top: auto;
    width: 100%;
    background-color: rgba(82,109,255,1);
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    color: white;
}

.p-foot{
    a{
        color: white;
    }
    color: white;
    margin-bottom: 4px;
}

.my-circle {
    color: red;
    margin-top: 7px;
    margin-right: 15px;
}
.send_msg {
    margin-top: 15px;
}
.my-card {
    margin-top: 7px;
}
@media screen and (max-width: 600px){
    .footer{
        h2{
            font-size: x-large;
        }
        h3{
            font-size: x-large;
        }
    }

    .col-mob{
        align-items: flex-start !important;
    }
}