@import 'bootstrap/dist/css/bootstrap';

.navbar-brand {
    font-size: 2rem !important;
    font-weight: normal;
}

.my-button{
    background-color: rgba(82,109,255,1);
    color: white;
}

.my-button:hover{
    color: white;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: rgba(82,109,255,1) !important;
}

.my-title-log{
    margin-bottom: 10px;
}

.page-cont{
    margin-top: 50px;
}

.mess-cont{
    margin-top: 10px;
}
